openapi: "3.0.0"
info:
  version: 1.0.0
  title: worklog
  license:
    name: MIT
servers:
  - url: http://worklogstore.themirai.net/v1
paths:
  /worklogs:
    get:
      summary: List all worklog
      operationId: listWorklog
      tags:
        - worklog
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Worklog"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a worklog
      operationId: createWorklog
      tags:
        - worklogs
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /worklogs/{worklogId}:
    get:
      summary: Info for a specific worklog
      operationId: showWorklogById
      tags:
        - worklogs
      parameters:
        - name: worklogId
          in: path
          required: true
          description: The id of the worklog to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Worklogs"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
###########
# Worklog
###########
    Worklog:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        timestamp:
          type: string
            
    Worklogs:
      type: array
      items:
        $ref: "#/components/schemas/Worklog"
##########
#Error
##########
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string